fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
PyJWT
bcrypt
mandrill
openpyxl
httpx
python-multipart
ibm-cos-sdk
git+https://mcandres:ndB4CNBAxvuAs6mGy28x@gitlabv3.thousandminds.com/zeep-apollo/fastapi-lib/acs-zeep-client.git@master